html {
    font: 16px/1.5 'Helvetica', sans-serif;
}

body {
    font: inherit;
    width: 75ch;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif;
}

blockquote {
    border-left: 1px solid;
    border-left-color: rgb(221, 221, 221);
    font-style: italic;
}

th {
    text-align: start;
    background-color: #bdbaba;   
}

th, td {
    border: 1px solid #bdbaba;
    width: 900px;
}

.author {
    text-align: end;
}