@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

html {
    font: 16px/1.5 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    box-sizing: inherit;
}

body {
    font: inherit;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
}

.site-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    flex: 1 0 auto;
    flex-wrap: wrap;
}

.btn {
    padding: 0.5em 1em;
    background-color: #369;
    color: #fff;
    border: none;
    border-radius: 0.3em;
}

.icons {
    width: 1.2em;
}

.site-about-store-nav {
    /* border: 2px solid black; */
    width: 7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-gmail-nav {
    width: 20em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.site-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 4em 2em;
}

.site-footer ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 12em;
}

.search-bar {
    width: 40em;
    padding: 0.6em;
    border: 0px solid #d4cccc;
}

.media, .buttons-wrapper {
    flex: 0 0 100%;
}

.forms-wrapper {
    position: relative;
}

.search-icon::before {
    font-family: "FontAwesome";
    content: '\f002';
    position: absolute;
    top: 0;
    left: 101%;
    margin-left: -4px;
    padding: 0.3em;
    transition: 0.2s ease-in-out;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.search-icon:hover::before {
    background-color: #369;
    color: #fff;
}