* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

header, aside, main, footer {
    padding: 2em;
    background-color: #fff;
    border-radius: 0.4rem;
    border: 1px solid #9c9797;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.5);
    color: #000;
}

header, footer {
    flex: 1 0 100%;
}

main, aside {
    min-height: 20em;
}

header {
    min-height: 10em;
}

main {
    flex: 1 0 60%;
}

aside {
    flex: 1 1 auto;
}

footer {
    min-height: 7em;
}