@media (min-width: 800px) {
    .site-container {
        display: flex;
        flex-wrap: wrap;
        gap: 3em;
        /* justify-content: space-between; */
    }

    .site-main {
        flex: 1 0 calc(65% - 3em);
    }
    
    .site-aside {
        flex: 0 0 35%;
    }
}

@media (min-width: 1200px) {
    .site-container {
        max-width: 70em;
        margin: 0 auto;
    }
}

.site-header, .site-footer {
    flex: 0 0 100%;
}

