.border-box, .content-box {
    background-color: coral;
    border: 9px solid blue;
}

.content-box {
    box-sizing: content-box;
    width: 200px;
    padding: 20px 30px 50px 20px;   
}

.border-box {
    box-sizing: border-box;
    padding: 20px;
    width: 150px;
}