* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

body {
    display: flex;
    padding: 4em;
}

img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: scale-down;
    background-color: #fff;
    border: 8px solid black;
    padding: 2em 1em;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    flex-direction: row;
    justify-content: space-between;
}

li {
    display: flex;
}