* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* padding: 2em; */
}

.container {
    min-height: 100vh;
    padding: 2em;
    border: 2px solid #000;
    display: flex;
    /* justify-content: space-between; */
    /* align-content: space-around; */
    /* align-items: stretch; */
    flex-wrap: wrap;
    height: 100em;
    flex-direction: column-reverse;
}

.item {
    border: 2px solid #090;
    padding: 1em;
}