html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    scroll-behavior: smooth;
}