body {
    background-color: #f9f7cf;
}

.starting-part {
    background-color: #f2dcbb;

    widtH: 480px;
    padding: 5px 15px;
}

.essential-part {
    widtH: 480px;
}

.ending-part {
    width: 480px;
    background-color: #f2dcbb;
    padding: 5px 15px;
}